<!-- ========================= Include extend & static title tag =================================== -->
{% extends 'base.html' %}
{% load static %}

<!-- ============================= Iclude child template's title ================================== -->
{% block title %}
  Contact
{% endblock %}

<!-- =============================================================================================== -->
<!-- ======================= Extra meta information, stylesheet links, etc. ======================== -->
<!-- =============================================================================================== -->
{% block extra_head %}
  <!-- For additional child-specific styles or scripts -->
{% endblock %}

<!-- =============================================================================================== -->
<!-- ============================== Start of Main Bloock Content ================================== -->
<!-- =============================================================================================== -->
{% block content %}
  <!-- =============================================================================================== -->
  <!-- ================================= breadcrumb-section ========================================== -->
  <!-- =============================================================================================== -->
  <!-- breadcrumb-section -->
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Get 24/7 Support</p>
            <h1><span class="orange-text">Contact</span> Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end breadcrumb section -->

  <!-- =============================================================================================== -->
  <!-- ============================ Start of Contact Form Section ==================================== -->
  <!-- =============================================================================================== -->
  <!-- Contact Form Section -->
  <div class="contact-from-section mt-150 mb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="form-title">
            <h2>Have you any question?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ratione! Laboriosam est, assumenda. Perferendis, quo alias quaerat aliquid. Corporis ipsum minus voluptate? Dolore, esse natus!</p>
          </div>
          <div id="form_status"></div>
          <div class="contact-form">
            <form method="POST" id="fruitkha-contact" action="">
              {% csrf_token %}
              <p>
                <input type="text" placeholder="Name" name="name" id="name" required />
                <input type="email" placeholder="Email" name="email" id="email" required />
              </p>
              <p>
                <input type="tel" placeholder="Phone" name="phone" id="phone" required />
                <input type="text" placeholder="Subject" name="subject" id="subject" required />
              </p>
              <p>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
              </p>
              <p>
                <input type="submit" value="Submit" />
              </p>
            </form>
            <!-- Display subscription messages -->
            {% if messages %}
              <div class="messages">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-form-wrap">
            <div class="contact-form-box">
              <h4><i class="fas fa-map"></i> Shop Address</h4>
              <p>{{ contact.shop_address|linebreaksbr }}</p>
            </div>
            <div class="contact-form-box">
              <h4><i class="far fa-clock"></i> Shop Hours</h4>
              <p>{{ contact.shop_hours|linebreaksbr }}</p>
            </div>
            <div class="contact-form-box">
              <h4><i class="fas fa-address-book"></i> Contact</h4>
              <p>
                Phone: {{ contact.phone }} <br /> Email: {{ contact.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Form Section -->

  <!-- =============================================================================================== -->
  <!-- ============================= End of Contact Form Section ===================================== -->
  <!-- =============================================================================================== -->

  <!-- =============================================================================================== -->
  <!-- ========================== Start of Find Our Location Section ================================= -->
  <!-- =============================================================================================== -->

  <!-- Find Our Location Section -->
  <div class="find-location blue-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>
            <i class="fas fa-map-marker-alt"></i> Find Our Location
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Find Our Location Section -->

  <!-- Google Map Section -->
  <div class="embed-responsive embed-responsive-21by9">
    <iframe src="{{ contact.google_map_embed }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
  </div>
  <!-- End Google Map Section -->
  <!-- =============================================================================================== -->
  <!-- =========================== End of Find Our Location Section ================================== -->
  <!-- =============================================================================================== -->
{% endblock %}
<!-- =============================================================================================== -->
<!-- ================================ End of Main Bloock Content ================================== -->
<!-- =============================================================================================== -->

<!-- =============================================================================================== -->
<!-- ====================== For additional child-specific styles or scripts ======================= -->
<!-- =============================================================================================== -->
{% block extra_scripts %}
  <!-- For child-specific JavaScript -->
{% endblock %}
